{% extends 'base.html'%}

{% block title %}All Posts{% endblock%}

{% block content %}
<h1>All Posts</h1>
<ul class="post-list">
    {% for post in posts %}
    <li class="post-item">
        <div class="post-title">
            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
        </div>
        <div class="post-meta">
            by 
            <a href="{{ url_for('show_individual_user', user_id=post.user.id) }}">{{ post.user.username }}</a> on {{ post.post_date.strftime('%Y-%m-%d') }}
            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.comments|length }} Comments</a>
        </div>
        <div class="post-content">{{ post.content }}</div>
    </li>
    {% else %}
    <li>No posts found.</li>
    {% endfor %}
</ul>
{% endblock %}